header {
  width: 100%;
  height: 110px;
  border: 1px solid black;;
}

footer {
  width:100%;
  height: 200px;
  border: 1px solid black;
}

main {
  width:100%;
  height: 724px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.signup-container {
  width:1200px;
  height:600px;
  margin: 33px 50px;
  /* border:1px solid black; */
  display: flex;
  gap:50px;
}
.signup-container-shelter {
  width:575px;
  height:600px;
  border:1px solid black;
}
.signup-container-common {
  width: 575px;
  height:600px;
  border: 1px solid black;
  
}

.signup-header-shelter {
  width: 100%;
  height: 80px;
  /* border:1px solid black; */
  background-color: orange;
  font:white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  line-height:80px;
  
  
}

.signup-header-common {
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  background-color: orange;
  font:white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  line-height: 80px;
  
}

.signup-main-container-shelter {
  width: 200px;
  height:300px;
  /* border: 1px solid black; */
  margin: 90px 184px;
}

.signup-main-container-common {
  width: 200px;
  height:300px;
  /* border: 1px solid black; */
  margin:80px 184px;
  
}

.signup-main-shelter-img{
  width: 200px;
  height:200px;
  border:1px solid black;

}
.signup-main-shelter-btn {
  width:200px;
  height:100px;
  /* border: 1px solid black; */
}


.signup-main-common-img {
  width: 200px;
  height:200px;
  border:1px solid black;
}

.signup-main-shelter-img img{
  width: 200px;
  height: 200px;
}
.signup-main-shelter-btn input {
  width:200px;
  height:70px;
  margin-top: 30px;
  background-color: orange;
  color:white;
  font-weight: bold;
  font-size: 25px;
}


.signup-main-common-btn {
  width:200px;
  height:100px;
  /* border: 1px solid black; */
}

.signup-main-common-img img{
  width: 200px;
  height: 200px;


}

.signup-main-common-btn input{

  width:200px;
  height:70px;
  margin-top: 30px;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size:25px;
} 
