.doglog-detail-container {
  width: 100%;
  height: 620px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #b6b6b6;
  overflow: scroll;
}

.detail-title {
  height: 60px;
  padding-left: 45px;
  line-height: 60px;
  border-bottom: 2px solid #b6b6b6;
}

.detail-info-container {
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 2px solid #b6b6b6;
  align-items: center;
}

.detail-main-container {
  padding: 45px;
  min-height: 400px;
}
.detail-footer-container {
  display: flex;
  justify-content: center;
}
.apply-status {
  width: 120px;
  height: 50px;
  background-color: white;
  border: 2px solid #f47c2a;
  border-radius: 5px;
}

.detail-main-post {
  width: 100%;
  height: 360px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btn {
  width: 110px;
  height: 40px;
  background-color: #f47c2a;
  border-radius: 5px;
  color: white;
  border-style: none;
  box-shadow: 2px 2px 5px #b6b6b6;
  text-align: center;
  line-height: 40px;
}
